<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AQUARIUMICECREAM</title>
    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./static/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand em-text" href="index.html">AQUARIUM ICE CREAM</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="ice_crems.html">Ice cream</a></li>
                    <li class="active"><a href="milk_shake.html">MilkShakes</a></li>
                    <li><a href="ice_pop.html">Ice Pop's</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <section id="title-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>MilkShakes</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <h1>Size</h1>

                <p>
                    <h4>Small</h4> <img src="./static/assets/images/ice_image_3.JPG" class="demo1">
                    <br>
                    <h4></h4>Price: R20.00</h4>
                </p>
                <p>
                    <h4>Medium</h4> <img src="./static/assets/images/ice_image_3.JPG" class="demo1">
                    <br>
                    <h4></h4>Price: R30.00</h4>
                </p>
                <p>
                    <h4>Larg</h4> <img src="./static/assets/images/ice_image_3.JPG" class="demo1">
                    <br>
                    <h4></h4>Price: R45.00</h4>
                </p>





                <!-- End Shopping Cart -->


            </div>

            <div class="col-lg-4">
                <h1>Flavor's</h1>
                <ol>
                    <li>Vanilla</li>
                    <li>Chocolate</li>
                    <li>Apple</li>
                    <li>Blueberry</li>
                </ol>



                <!-- End Shopping Cart -->
            </div>

            <div class="col-lg-4">
                <h1>Extras</h1>

                <ol>
                    <li>Oreos</li>
                    <li>Chocolate</li>
                    <li>1 Scoop</li>
                    <li>Sprinkles colors</li>
                    <li>Cookie</li>
                </ol>

                <!-- End Shopping Cart -->
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p>Copyright &copy; 2020, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./static/js/bootstrap.js"></script>
</body>

</html>