<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AQUARIUMICECREAM</title>
    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./static/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand em-text" href="index.html">AQUARIUM ICE CREAM</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="ice_crems.html">Ice cream</a></li>
                    <li><a href="milk_shake.html">MilkShakes</a></li>
                    <li><a href="ice_pop.html">Ice Pop's</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <section id="title-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Thank you! We wwill get in touch with you shortly!</h1>
                </div>
                <!-- <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                  <address>
                        <br>
                        <p class="address-title">OUR ADDRESS</p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et
                            laoreet
                            phasellus ut nisi id leo molestie.</span> <br> <br>

                        <p><i class="fa fa-phone"></i> +91 94884 87853</p>
                        <p><i class="fa fa-envelope-o"></i> giridesigns5@gmail.com</p>
                        <p><i class="fa fa-map-marker"></i> 50, Thiruvoodal Street, Thiruvannamalai - 606 601.</p>
                    </address> -->
                <!-- Add Map -->
            </div>
        </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p>Copyright &copy; 2020, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./static/js/bootstrap.js"></script>
</body>

</html>